<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center;">
    <br>
    <h1>Convert Waste</h1>
    <br>
    <h3> Convert Waste é uma solução para gerenciar serviços de conservação ao meio ambiente</h3>
    <br>
    <div class="text-center">
        <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Cadastrar</button>
        <button class="btn btn-info btn-lg ">Saiba Mais</button>
    </div>
</div>

<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
        </div>
    </div>
</div>
</div>